<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parcialii">
    <!-- Permisos para internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParcialII">
        <activity
            android:name=".Registrarse"
            android:exported="false"
            android:label="Registrar" />
        <activity
            android:name=".IniciarS$Editar"
            android:exported="false"
            android:label="Editar" />
        <activity
            android:name=".Agregar"
            android:exported="false"
            android:label="Agregar" />
        <activity
            android:name=".IniciarS"
            android:exported="true"
            android:label="Iniciar Sesión">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"/>
    </application>

</manifest>